<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        <div class="navigation">
            {% if app.user %}
                <a  href="{{ url('homepage') }}">All loans</a>
                <a  href="{{ url('homepage') }}">My investments</a>
                <a style="float: right;" href="{{ path('logout') }}">Logout</a>
            {% endif %}
        </div>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
