{% extends "AppBundle::base.html.twig" %}

{% block title %}View loans{% endblock %}

{% block body %}
    <table border="0" cellspacing="2">
        {% for loan in loans %}
            {{ include('AppBundle:View:loan.html.twig', { 'loan': loan }) }}
            {% if loan.amount > loan.availableForInvestments %}
                <tr>
                    <td colspan="2" height="10" align="right">
                        <a style="float: right;" href="{{ path('invest', {'loanID': loan.id}) }}">Invest</a>
                    </td>
                </tr>
            {% endif %}
            <tr>
                <td colspan="2" height="10"></td>
            </tr>
        {% else %}
            <p>There are no loans available</p>
        {% endfor %}
    </table>
{% endblock %}
