<tr>
    <td>Loan ID:</td>
    <td>{{ loan.id }}</td>
</tr>
<tr>
    <td>Amount:</td>
    <td>{{ loan.amount }}</td>
</tr>
<tr>
    <td>Available for investments:</td>
    <td>{{ loan.availableForInvestments }}</td>
</tr>
       